.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/Little\ Experiments/drafts
content/Running\ Thoughts/drafts
content/not\ public
