.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/Experiment Ideas/drafts
content/Experiments/drafts
content/Running\ Thoughts/drafts
content/not\ for\ publish
content/Home\ &\ Garden/drafts
